[submodule "teamcity-docker-agent-osx"]
	path = teamcity-docker-agent-osx
	url = https://github.com/jeandet/teamcity-docker-agent-osx
[submodule "teamcity-docker-complete-agent"]
	path = teamcity-docker-complete-agent
	url = https://github.com/jeandet/teamcity-docker-complete-agent
[submodule "teamcity-docker-agent-freebsd"]
	path = teamcity-docker-agent-freebsd
	url = https://github.com/jeandet/teamcity-docker-agent-freebsd
[submodule "teamcity-docker-minimal-agent"]
	path = teamcity-docker-minimal-agent
	url = https://github.com/jeandet/teamcity-docker-minimal-agent
[submodule "teamcity-docker-SolarOrbiter-LFR-agent"]
	path = teamcity-docker-SolarOrbiter-LFR-agent
	url = https://github.com/jeandet/teamcity-docker-SolarOrbiter-LFR-agent
[submodule "teamcity-docker-agent-debian-stable"]
	path = teamcity-docker-agent-debian-stable
	url = https://github.com/jeandet/teamcity-docker-agent-debian-stable
[submodule "teamcity-docker-agent-ubuntu-17-10"]
	path = teamcity-docker-agent-ubuntu-17-10
	url = https://github.com/jeandet/teamcity-docker-agent-ubuntu-17-10
[submodule "teamcity-docker-VM-base-agent"]
	path = teamcity-docker-VM-base-agent
	url = https://github.com/jeandet/teamcity-docker-VM-base-agent.git
